/* Ensure the body and html have proper scrollable height */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and other WebKit browsers */
}

.app-wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.custom-bg {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #010221,
    #000111 85px,
    #00001b 8.5px,
    #00001d 100px
  );
  background-color: #000016;
  z-index: 1; /* Keep it behind content */
}

.custom-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.9));
  z-index: -2;
}

.content-wrapper {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
}




.shining-text {
  position: relative;
  color: #b7b5f2; /* Silverish white */
  text-shadow: 0 0 0px rgba(255, 255, 255, 0.8), 0 0 20px rgba(123, 127, 247, 0.6);
}


.twinkle-star {
  position: absolute;

  color: rgb(240, 240, 240); 
  opacity: 0;
  animation: twinkle-animation 1.5s infinite ease-in-out alternate;
}

@keyframes twinkle-animation {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.5);
  }
}
/* Shimmer effect on "Opportunity" */
.shimmer-text {
  background-image: linear-gradient(90deg, #ffffff 0%, #ffd700 50%, #ffffff 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* display: inline-block; */
  animation: shimmer-animation 2s infinite linear;
}

@keyframes shimmer-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}
